## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
import random
sample_list_1 = []
while True:
    number = random.randrange(1, 100)
    if number not in sample_list_1:
        sample_list_1.append(number)
    else:
        pass
    if len(sample_list_1) == 80:
        break
print(sample_list_1)
print("The size of Sample is", len(sample_list_1))

[65, 85, 52, 87, 95, 11, 42, 44, 61, 14, 15, 2, 12, 18, 70, 22, 67, 93, 57, 74, 54, 8, 86, 83, 48, 51, 9, 5, 16, 36, 35, 80, 96, 17, 40, 21, 13, 6, 47, 56, 43, 25, 97, 7, 77, 66, 49, 99, 29, 68, 23, 90, 38, 91, 39, 94, 59, 32, 76, 34, 63, 89, 62, 92, 45, 41, 75, 78, 24, 46, 37, 69, 88, 72, 71, 50, 82, 28, 4, 98]
The size of Sample is 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print("The size of Sample is", len(set1))
print(set1)

The size of Sample is 80
{2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 56, 57, 59, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 80, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
import random
sample_list_2 = random.sample(range(1, 100), 80)
print(sample_list_2)

[52, 35, 23, 59, 15, 63, 10, 7, 50, 62, 93, 90, 47, 68, 76, 87, 33, 31, 28, 13, 9, 18, 80, 39, 30, 97, 66, 40, 42, 8, 65, 2, 5, 20, 57, 4, 71, 95, 51, 56, 82, 41, 78, 19, 94, 14, 99, 61, 43, 16, 75, 34, 25, 45, 89, 46, 32, 1, 85, 12, 58, 91, 37, 17, 73, 55, 11, 36, 70, 24, 79, 27, 64, 60, 83, 74, 96, 6, 81, 67]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print("The size of Sample is", len(set1))

The size of Sample is 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = list(set1 - set2)
print(set3)

[98, 69, 38, 72, 44, 77, 48, 49, 21, 22, 54, 86, 88, 92, 29]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = list(set2 - set1)
print(set4)

[64, 1, 33, 73, 10, 79, 81, 19, 20, 55, 58, 27, 60, 30, 31]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = list(set1.intersection(set2))
print(set5)

[2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 23, 24, 25, 28, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 50, 51, 52, 56, 57, 59, 61, 62, 63, 65, 66, 67, 68, 70, 71, 74, 75, 76, 78, 80, 82, 83, 85, 87, 89, 90, 91, 93, 94, 95, 96, 97, 99]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [12]:
"""
len(set1) = len(set3) - len(set5) 
len(set2) = len(set4) - len(set5)
len(set3) = len(set1) - len(set5)
"""

'\nlen(set1) = len(set3) - len(set5) \nlen(set2) = len(set4) - len(set5)\nlen(set3) = len(set1) - len(set5)\n'

#### Create an empty set called `set6`.

In [13]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [14]:
set6.update(set3)
set6.update(set5)
print(set6)

{2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 56, 57, 59, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 80, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [15]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [16]:
z = set1.issubset(set2)
t = set1.issubset(set3)
print(z)
print(t)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
set1_2=set()
set3_4_5=set()
set1=set(set1)
set2=set(set2)
set3=set(set3)
set4=set(set4)
set5=set(set5)
set3_4_5 = set3.union(set4, set5)
set1_2 = set1.union(set2)
print(set3_4_5)
print(set1_2)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [19]:
set1.pop()
print(set1)

{4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 56, 57, 59, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 80, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [22]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = list(set1)
for i in set1:
    if i in list_to_remove:
        set1.remove(i)
print(set1)

[4, 5, 6, 7, 8, 11, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 28, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 54, 56, 57, 61, 62, 63, 65, 66, 67, 68, 70, 72, 74, 75, 76, 77, 78, 80, 82, 83, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98]